img {
  animation: wiggleMore 3s infinite linear;
  //   filter: blur(5px);
}

@keyframes wiggle {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

@keyframes wiggleMore {
  0% {
    filter: blur(0);
    transform: rotate(30deg);
  }
  50% {
    filter: blur(3px);
    transform: rotate(-30deg);
  }

  100% {
    filter: blur(0);
    transform: rotate(30deg);
  }
}
