@-webkit-keyframes wiggle {
  0% {
    left: -0.5%;
  }
  25% {
    left: 1%;
  }
  50% {
    left: -1%;
  }
  75% {
    left: 0.5%;
  }
}
@keyframes wiggle {
  0% {
    left: -0.5%;
  }
  25% {
    left: 1%;
  }
  50% {
    left: -1%;
  }
  75% {
    left: 0.5%;
  }
}
body {
  background: #f9c854;
  margin: 0;
  font-family: "Press Start 2P", Verdana, sans-serif;
  line-height: 2rem;
}

.console {
  background-image: url(../assets/gb1.svg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.console__screen {
  width: 50vw;
  height: 41vw;
  display: flex;
  flex-direction: column;
}

.battle {
  background-image: url(../assets/battle-background.png);
  background-size: contain;
  width: 100%;
  height: 70%;
  display: flex;
}
.battle__player {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.battle__player--two {
  justify-items: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
}
.battle__stat {
  width: 90%;
  min-height: 25%;
  background-color: lightgrey;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 15px;
  z-index: 10;
}
.battle__stat--left {
  border-radius: 0 20px 20px 0;
  margin-top: 15px;
}
.battle__stat--right {
  border-radius: 20px 0 0 20px;
  margin-bottom: 15px;
  align-items: flex-end;
}
.battle__stat p {
  margin: 10px;
}
.battle__hp {
  width: 100%;
  height: 15px;
  border-radius: 7px;
  background-color: green;
}
.battle__hp--medium {
  background-color: orange;
}
.battle__hp--low {
  background-color: red;
}
.battle__hit {
  position: absolute;
  bottom: 70%;
  right: 30%;
  max-width: 30%;
}
.battle__no-hit {
  display: none;
}
.battle__cups {
  display: flex;
  margin-top: 15px;
}
.battle__cups img {
  width: 20px;
}
.battle__sprite {
  height: 80%;
  -webkit-animation: initalBobbing 2s infinite linear;
          animation: initalBobbing 2s infinite linear;
}

.game-prompt {
  display: flex;
  width: 100%;
  height: 30%;
  position: relative;
}
.game-prompt__message {
  background-color: lightgray;
  border: 5px solid yellow;
  border-radius: 10px;
  box-sizing: border-box;
  width: 40%;
  height: 95%;
  margin: 5px;
  padding: 0 10px;
}
.game-prompt__message--player-two {
  position: relative;
  left: 60%;
}
.game-prompt__options {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
.game-prompt__options:hover {
  cursor: pointer;
}
.game-prompt__options--player-two {
  position: relative;
  right: 41%;
}
.game-prompt__options img {
  height: 60%;
  margin-right: 10px;
}
.game-prompt__option-one {
  background: #259a91;
  background: linear-gradient(0deg, #259a91 0%, #092a79 61%, #00d4ff 100%);
  border: 4px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 45%;
  margin: 5px;
  padding: 0 15px;
  color: white;
  display: flex;
  align-items: center;
}
.game-prompt__option-two {
  background: #dfcfcf;
  background: linear-gradient(0deg, #dfcfcf 0%, #ee4343 34%, #e6b0f2 100%);
  border: 4px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 45%;
  margin: 5px;
  padding: 0 15px;
  color: white;
  display: flex;
  align-items: center;
}

@-webkit-keyframes initalBobbing {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes initalBobbing {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}/*# sourceMappingURL=fight.css.map */